services:

  app:
    build:
      context: .
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_BASE_URL: ${VITE_BASE_URL}
    image: fixer:latest
    restart: unless-stopped
    env_file: .env
    ports:
      - 3000:80
    depends_on:
      - api
  
  api:
    image: nadjiel/fixer-api:latest
    restart: unless-stopped
    ports:
      - 8000:8000
    environment:
      SECRET_KEY: ${API_SECRET_KEY}
      DEBUG: ${API_DEBUG}
      ALLOWED_HOSTS: ${API_ALLOWED_HOSTS}
      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER:-postgres}" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
